<strong>Olá {{ name }}</strong>
<p>Uma das suas entregas foi cancelada:</p>
<strong>Produto: </strong> {{ product }} <br />
<strong>Endereço: </strong> Rua {{ street }}, n {{ number }} {{ complement }} <br />