<strong>Olá {{ name }}</strong>
<p>Você tem uma nova entrega para fazer:</p>
<strong>Produto: </strong> {{ product }} <br />
<strong>Endereço: </strong> Rua {{ street }}, n {{ number }} {{ complement }} <br />
<br />
<small>A encomenda já está disponível para retirada.</small>